:root {
    --color-acent: #212121;
    --color-second: #2196F3;
    --color-contacts: #757575;
    --color-baner: #2F303A;
    --color-baner-name: #FFFFFF;
    --color-button: #188CE8;
    --color-team: #F5F4FA;
}

.body {
    color: var(--color-acent);
}

/* Header */
/* Логотип */

.logo {
    color: var(--color-second);
}
.logo-word {

    color: var(--color-acent);
}

/* Ссылки */

.link {
    color: var(--color-acent);
}

.link:hover {
    color: var(--color-second);
}

.link:active {
    color: var(--color-second);
}

/* Контакты */

.contacts {
color: var(--color-contacts);
}

.contacts:hover {
color: var(--color-second);
}

/* Секция банер */
.baner {
    background-color: var(--color-baner);
    color: var(--color-baner-name);
}

/* Кнопка в банере */
.button {
    background-color: var(--color-second);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;;
    border: 1px;
    color: var(--color-baner-name);
    cursor: pointer;
}
.button:hover {
background-color: var(--color-button);
}

/* Секция команда */
.bteam {
background-color: var(--color-team);
}
.teammates {
    background-color: var(--color-baner-name);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Параграфы */
.paragraph {
    color: var(--color-contacts);
}

/* Подвал */
.footer {
    background-color: var(--color-baner);
    color: var(--color-baner-name);
}

.adress {
    font-style: normal;
}
.word-logo {
    color: var(--color-baner-name);
}

/* Фильтры кнопки */
.filters {
background-color: var(--color-team);
border: transparent;
cursor: pointer;
}
.filters:hover {
    background-color:var(--color-second);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Картинки все */
.images-all {
    border: 1px solid #EEEEEE;
}