
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
/* Сбиваем стили */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
ul {
    list-style: none;
	padding-left: 0;
	margin: 0;
}
:root {
    --color-primary: #212121;
    --color-second: #2196f3;
    --color-contacts: #757575;
    --color-hero: #2f303a;
    --color-hero-name: #ffffff;
    --color-button: #188ce8;
    --color-team: #f5f4fa;
    --color-contacts-footer: rgba(255, 255, 255, 0.6);

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}
body {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0;
}
/* Header */
.container.nav-box {
    display: flex;
    align-items: center;
} 
header {
    border-bottom: 1px solid #ECECEC;
}
/* Логотип */
.logo {
    color: var(--color-second);
    font-family: var(--font-family-logo);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}
.logo-word {
    color: var(--color-primary);
}
nav > a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
/* Ссылки */
.links-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--color-second);
}
.link.current {
    color: var(--color-second);
}
.links-nav .list + .list {
    margin-left: 50px;
}
.links-nav .list:first-child {
    margin-left: 93px;
}
.links-nav .list:last-child {
    margin-right: 0;
}
.links-nav {
    display: flex;
}
/* Контакты */
.contacts {
    color: var(--color-contacts);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
    color: var(--color-second)
}
.container .contacts {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contacts-nav {
    display: flex;
    margin-left: auto;
}
.contacts-nav .list + .list {
    margin-left: 48px;
}
/* Герой */
.baner {
    background-color: var(--color-hero);
    color: var(--color-hero-name);
    height: 600px;
    text-align: center;
}
.baner.section {
    padding-left: 0;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    font-family: var(--font-family-primary);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
/* Кнопка в герое */
.button {
    background-color: var(--color-second);
    color: var(--color-hero-name);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;;
    border: 1px;
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 10px 32px;
    margin-bottom: 200px;
}
.button:hover,
.button:focus {
    background-color: var(--color-button);
}
/* Заголовки */
.name {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.quality-name {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
/* Невидимый заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Секция Качества */
.quality-name {
    margin-bottom: 10px;
}
.quality {
    display: flex;
}
.quality .quality-list {
    margin-right: 30px;
    width: 270px;
}
.quality .quality-list:last-child {
    margin-right: 0;
}
/* Секция чем мы занимаемся */
.works.section {
    padding-top: 0;
}
.name.name-works {
    margin-bottom: 50px;
}
.work .work-list {
    margin-right: 30px;
}
.work .work-list:last-child {
    margin-right: 0;
}
.work {
    display: flex;
}
/* Секция команда */
.section.bgteam {
    background-color: var(--color-team);
    padding-bottom: 94px;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.teammates-list {
    padding-bottom: 86px;
    display: flex;
}
.teammates {
    background-color: var(--color-hero-name);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}
.teammates:last-child {
    margin-right: 0;
}
.name.name-team {
    margin-bottom: 50px;
}
.team-names {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.team-name-box {
    padding-top: 30px;
    padding-bottom: 30px;
}
.bgteam p {   
    font-size: 16px;
}
/* Параграфы */
.paragraph {
    color: var(--color-contacts);
    font-weight: 400;
    line-height: 1.7;
}
/* Подвал */
.footer {
    background-color: var(--color-hero);
    color: var(--color-hero-name);
}
.footer.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    color: var(--color-second);
    font-family: var(--font-family-logo);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}
.container > .adress {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}
.word-logo {
    color: var(--color-hero-name);
}
.contacts-footer {
    color: var(--color-contacts-footer);
    font-weight: 400;
    text-decoration: none;
    line-height: 1.71;
    margin-bottom: 60px;
}
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--color-second);
}
.footer-contacts-list {
    margin-top: 9px;
}
.adress {
    margin-top: 20px;
    margin-bottom: 9px;
}
/* Секция Портфолио */
.portfolio.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Фильтры кнопки */
.filters {
    background-color: var(--color-team);
    border: transparent;
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
    padding: 6px 22px;
    max-width: 145px;
    border-radius: 4px;
}
.filters-menu .filters-button-list {
    margin-right: 8px;
}
.filters-menu .filters-button-list:last-child {
    margin-right: 0;
}
.filters-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters:hover,
.filters:focus {
    background-color:var(--color-second);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--color-hero-name);
}
/* Картинки портфолио */
.images-list {
    display: flex;
    flex-wrap: wrap;
}
.images-all {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
}
.images-all:hover,
.images-all:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.images-all:nth-child(3n + 3) {
    margin-right: 0;
}
.images-all:nth-last-child( -n + 3) {
    margin-bottom: 0;
}
.name-images {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.paragraph-portfolio {
    color: var(--color-contacts);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
}
.name-work-box {
padding: 20px 24px;
border: 1px solid #EEEEEE;
}
/* Секции */
.section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}