:root {
    --color-primary: #212121;
    --color-second: #2196F3;
    --color-contacts: #757575;
    --color-hero: #2F303A;
    --color-hero-name: #FFFFFF;
    --color-button: #188CE8;
    --color-team: #F5F4FA;
    --color-contacts-footer: rgba(255, 255, 255, 0.6);

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}

body {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
/* Header */
header {
width: 1600px;
}
nav {

}
/* Логотип */
.logo {
    color: var(--color-second);
    font-family: var(--font-family-logo);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}
.logo-word {
    color: var(--color-primary);
}
/* Ссылки */
.link {
    color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--color-second);
}
.menu .link.current {
    color: var(--color-second);
}
/* Контакты */
.contacts {
    color: var(--color-contacts);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
    color: var(--color-second)
}
/* Герой */
.baner {
    background-color: var(--color-hero);
    color: var(--color-hero-name);
    height: 600px;
    text-align: center;
    margin: 0 auto;
}
.hero {
    font-family: var(--font-family-primary);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
}
/* Кнопка в герое */
.button {
    background-color: var(--color-second);
    color: var(--color-hero-name);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;;
    border: 1px;
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
    background-color: var(--color-button);
}
/* Заголовки */
.name {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.menu-name {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
/* Невидимый заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Секция Качества */
.container {
    width: 1170px;
    margin: 94px 215px;
}
.container-list{
    padding: 0 30px;
}
.quality {

}
/* Секция команда */
.bgteam {
    background-color: var(--color-team);
}
.teammates {
    background-color: var(--color-hero-name);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-names {
    font-weight: 500;
    font-size: 16px;
}
.bgteam p {   
    font-size: 16px;
}
/* Параграфы */
.paragraph {
    color: var(--color-contacts);
    font-weight: 400;
    line-height: 1.7;
}
/* Подвал */
.footer {
    background-color: var(--color-hero);
    color: var(--color-hero-name);
}
.adress {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}
.word-logo {
    color: var(--color-hero-name);
}
.contacts-footer {
    color: var(--color-contacts-footer);
    font-weight: 400;
    text-decoration: none;
    line-height: 1.71;
}
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--color-second);
}
/* Фильтры кнопки */
.filters {
    background-color: var(--color-team);
    border: transparent;
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
}
.filters:hover,
.filters:focus {
    background-color:var(--color-second);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--color-hero-name);
}
/* Картинки портфолио */
.images-all {
    border: 1px solid #EEEEEE;
}
.images-all:hover,
.images-all:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.name-images {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.paragraph-portfolio {
    color: var(--color-contacts);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.images-all > a {
    text-decoration: none;
}

/* Списки */
.menu {
    list-style-type: none;
}